{% extends "base.html" %}
{% block body %}

<div class="page-content">
    {% if player and friends %}
    <div class="my-friends">
        <div class="scroll">
            {% for friend in friends %}
            <a href="/profile/{{friend.username}}" class="one-friend">
                <img src="{{site.fpath}}/?figure={{friend.look}}&head_direction=3&headonly=1" alt="Avatar"
                     class="user pixelated {% if not friend.online %}offline{% endif %}">
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if settings.event_home == '1' %}
        <a href="{{ settings.event_link }}" target="_self" class="event-banner">
            <div class="flex_1">
                <div class="image" style="background-image: url({{ settings.event_image }});"></div>
            </div>
            <div class="flex_4">
                <h2 class="m-0">{{locale.event}}</h2>
                <h5 class="lighter">{{ settings.event_desc }}</h5>
                <h5 style="margin-top: 1em;">{{ settings.event_link_text }}</h5>
            </div>
        </a>
    {% endif %}
    <div class="flex-body mt_3">
        <div class="flex-body-left">
            <div id="carousel">
                <div class="carousel__bullets">
                    {% for key, news in news %}
                    <span class="carousel__bullets-link {{key == 0 ? 'active'}}">{{key}}</span>
                    {% endfor %}
                </div>
                <div class="carousel__arrow carousel__arrow-left carousel_before">
                    <img src="/assets/images/carousel_before.svg" alt="">
                </div>
                <div class="carousel__arrow carousel__arrow-right carousel_after">
                    <img src="/assets/images/carousel_after.svg" alt="">
                </div>
                {% for key, news in news %}
                <div class="carousel__item {{key == 0 ? 'active'}}">
                    <a href="/article/{{news.id}}-{{news.slug}}" class="">
                        <div class="carousel__container"
                             style="background-image: url({{news.header}});">
                            <div class="carousel__content">
                                <h1 class="carousel__title">{{news.title}}</h1>
                                <p class="carousel__snippet">{{news.short_story}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div>
                {% if rooms is not empty %}
                <div class="box">
                    <div class="title">{{locale.popular_rooms}}</div>
                    <span>{{locale.popular_rooms_label}}</span>
                    <div class="profile-badges home-badges">
                        {% for row in rooms %}
                        {% if player %}
                        <a href="/api/room/{{row.id}}" class="profile-badge tooltip">
                            {% if row.thumbnail %}
                             <img src="{{site.cpath}}/camera/thumbnail/{{row.id}}.png" alt="" class="pixelated room-thumbnail">
                            {% else %}
                            <img src="/assets/icons/profile/apparts.svg" alt="" class="pixelated">
                            {% endif %}
                            <div class="text">{{row.name}}</div>
                        </a>
                        {% else %}
                        <div class="profile-badge tooltip">
                            {% if row.thumbnail %}
                            <img src="{{site.cpath}}/camera/thumbnail/{{row.id}}.png" alt="" class="pixelated">
                            {% else %}
                            <img src="/assets/icons/profile/apparts.svg" alt="" class="pixelated">
                            {% endif %}
                            <div class="text">{{row.name}}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% if player %}
            <div class="box">
                <div class="title">{{locale.referral}}</div>
                <span>{{locale.referral_desc}}</span>
                <div class="flex-body profile mt_2" style="padding: unset;">
                    <div class="flex_5">
                        <input type="text" value="{{site.domain}}/registration/{{player.username}}"
                               id="getReferral" disabled>
                    </div>
                    <div class="flex_1 text-center">
                        <button id="copyReferral" class="myBtn" style="margin: 0;">
                            {{locale.copy_referal}}
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="flex-body-right">
            <div class="box">
                <div class="box-title">
                    {{locale.badges}}
                    <div class="team-title-round">
                        <img src="/assets/images/new_badges.png" class="team-title-badge pixelated">
                    </div>
                </div>
                <div class="profile-badges home-badges mt_2">
                    {% for key, badge in badges|slice(0,6) %}
                    <div class="profile-badge">
                        <img src="{{site.cpath}}/c_images/album1584/{{key}}" class="pixelated">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    {{locale.items}}
                    <div class="team-title-round">
                        <img src="/assets/images/new_items.png" class="team-title-badge pixelated">
                    </div>
                </div>
                <div class="profile-badges home-badges mt_2">
                    {% for key, item in items|slice(0,6) %}
                    <div class="profile-badge">
                        <img src="{{site.cpath}}/c_images/catalogue/{{key}}" class="pixelated" width="40em">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}