{% extends "base.html" %}
{% block body %}
<div class="page-content">
    <div class="text-center error404">
        <img src="/assets/images/404.png" alt="404" width="70%">
        <p>{{locale.page_content_1}}</p>
        <p>{{locale.page_content_2}}</p>
        <p><b>Peut-être que tu cherches...</b></p>
        <div class="choices">
            <a href="/games/ranking" class="myBtn">{{locale.sidebar_stats_label_2}}</a>
            <a href="/hotel" class="myBtn">{{locale.sidebar_rooms_label_2}}</a>
        </div>
    </div>
</div>
{% endblock %}