{% extends "base.html" %}
{% block body %}
<div class="page-content">
    <div class="flex-body profile">
        <div class="profile-avatar">
            <img src="{{site.fpath}}/avatarimage?figure={{data.player.look}}&direction=2&gesture=sml&size=l"
                 alt="{{data.player.username}}" class="pixelated">
        </div>
        <div class="box flex_3 profile-user-infos">
            <div class="profile-infos-center">
                <div class="profile-username"><span
                        class="profile-status {% if data.player.online %}online{% endif %}"></span>{{data.player.username}}
                </div>
                <span class="profile-motto">{{data.player.motto}}</span>
            </div>
            <div class="profile-badges" style="justify-content: center;">
                {% set i = 1 %}
                {% for badge in data.player.profileBadges %}
                <div class="profile-badge">
                    <img src="{{site.cpath}}/c_images/album1584/{{badge.badge_code}}.gif" alt="{{badge.badge_code}}"
                         class="pixelated">
                </div>
                {% set i = i + 1 %}
                {% endfor %}
                {% for n in i..5 %}
                <div class="profile-badge"></div>
                {% endfor %}
            </div>
        </div>
        <div class="box flex_2 profile-connect-infos">
            <div>
                <img src="/assets/icons/profile/register.svg" alt="" width="25">
                <b class="profile-connect-title">{{locale.since}}</b>
                <div class="profile-connect-info">{{data.player.account_created|date("d-m-Y")}}</div>
            </div>
            <div>
                <img src="/assets/icons/profile/last_visit.svg" alt="" width="25">
                <b class="profile-connect-title">{{locale.last_visit}}</b>
                <div class="profile-connect-info">
                    {% if data.player.settings.hide_last_online == 0 or 'housekeeping' in permissions %}
                    {% if data.player.last_online == 0 %}
                    {{locale.never_online}}
                    {% else %}
                    {{data.player.last_online|date("d-m-Y H:i")}}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex-body profile mt_2">
        <div class="flex-body-left">
            <div class="box">
                <div class="box-title">
                    {{locale.badges_title}}
                    <div class="team-title-round">
                        <img src="/assets/icons/profile/badges.svg" alt="" class="team-title-badge"
                             style="width: 45%;">
                    </div>
                </div>

                <div class="profile-badges">
                    {% if data.player.badges %}
                    {% for badge in data.player.badges %}
                    <div class="profile-badge">
                        <img src="{{site.cpath}}/c_images/album1584/{{badge.badge_code}}.gif" alt="{{badge.badge_code}}"
                             class="pixelated">
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center w-100">{{locale.badges_empty}}</p>
                    {% endif %}
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    {{locale.groups_title}}
                    <div class="team-title-round">
                        <img src="/assets/icons/profile/groupe.svg" alt="" class="team-title-badge">
                    </div>
                </div>

                <div class="profile-badges">
                    {% if data.player.groups %}
                    {% for group in data.player.groups %}
                    <a href="/hotel?room={{group.room_id}}" class="item-container">
                        <div class="profile-badge tooltip">
                            <img src="https://habbox.fr/habbo-imaging/badge/{{group.badge}}.gif" alt=""
                                 class="pixelated">
                            <span class="text">{{group.name}}</span>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p class="text-center w-100">{{locale.groups_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex-body-right">
            <div class="box h-100">
                <div class="box-title">
                    {{locale.guestbook_title}}
                    <div class="team-title-round">
                        <img src="/assets/icons/profile/livredor.svg" alt="" class="team-title-badge">
                    </div>
                </div>

                <div class="profile-feeds-scroll">
                    <p class="text-center profile-motto mt_2">{{locale.guestbook_label}}</p>

                    {% if player %}
                    <input type="text" class="addfeedreaction"
                           placeholder="{% if data.player.username == player.username %}{{locale.guestbook_input}}{% else %}{{locale.guestbook_input_1}}{% endif %}"
                           maxlength="50" aria-label="reaction">
                    <input type="hidden" name="userid" value="{{data.player.id}}">
                    {% endif %}

                    <div class="profile-feeds">
                        {% for feed in data.player.feeds %}
                        <div class="flex-body profile-feed" data-id="{{feed.id}}" id="{{feed.id}}">
                            <div class="comment-avatar-flex">
                                <a href="/profile/{{feed.username}}" class="comment-avatar">
                                    <img src="{{site.fpath}}/avatarimage?figure={{feed.look}}&head_direction=3&size=m&headonly=1"
                                         alt="" class="flex_1 pixelated" style="width: 6em;">
                                </a>
                            </div>
                            <div class="flex_5 comment-user-flex">
                                <a href="/profile/{{feed.username}}" class="comment-user">
                                    {{feed.username}} - <small>{{feed.timestamp|date('d-m-Y H:i')}}</small>
                                </a>
                                <span>
                                {{feed.message|raw}}
                            </span>
                            </div>
                        </div>
                        <div class="profile-feed-reactions" data-id="{{feed.id}}">
                            <a href="#" class="likes-count fc-like" data-id="{{feed.id}}">{{feed.likes}}</a>
                            <a href="#" class="fc-like" data-id="{{feed.id}}" style="margin-right: 5px;">
                                <img src="/assets/icons/profile/like.svg" alt="" data-id="{{feed.id}}"
                                     class="fa-heart" width="15">
                            </a>

                            {% if player.id == feed.from_user_id %}
                            <a href="#">
                                <img src="/assets/icons/articles/hide.svg" alt="" data-id="{{feed.id}}"
                                     class="fa-remove" width="15">
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-body profile mt_2">
        <div class="flex_1">
            <div class="box">
                <div class="box-title">
                    {{locale.friends_title}}
                    <div class="team-title-round">
                        <img src="/assets/icons/profile/amis.svg" alt="" class="team-title-badge">
                    </div>
                </div>
                <div class="profile-badges">
                    {% if data.player.friends %}
                    {% for row in data.player.friends %}
                    <div class="profile-badge tooltip">
                        <img src="{{site.fpath}}/avatarimage?figure={{row.look}}&head_direction=3&headonly=1&size=m"
                             alt="" class="pixelated" style="top: 83%;">
                        <span class="text">{{row.username}}</span>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center w-100">{{locale.friends_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex_1">
            <div class="box">
                <div class="box-title">
                    {{locale.rooms_title}}
                    <div class="team-title-round">
                        <img src="/assets/icons/profile/apparts.svg" alt="" class="team-title-badge">
                    </div>
                </div>
                <div class="profile-badges">
                    {% if data.player.rooms %}
                    {% for row in data.player.rooms %}
                    <a href="/hotel?room={{row.id}}" class="item-container">
                        <div class="profile-badge tooltip">
<!--                            <img src="{{site.cpath}}/camera/thumbnails/{{row.id}}.png" alt="" class="pixelated">-->
                            <img src="/assets/icons/profile/apparts.svg" alt="" class="pixelated">
                            <span class="text">{{row.name}}</span>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p class="text-center w-100">{{locale.rooms_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex-body profile mt_2">
        <div class="flex_1">
            <div class="box">
                <div class="box-title">
                    {{locale.photos_title}}
                    <div class="team-title-round">
                        <img src="/assets/icons/profile/photos.svg" alt="" class="team-title-badge">
                    </div>
                </div>
                <div class="profile-badges" style="flex-wrap: wrap">
                    {% if data.player.photos %}
                    {% for row in data.player.photos %}
                    <a href="{{row.url}}" class="item-container photos" target="_blank" style="flex: 1 0 30%;">
                        <img src="{{row.url}}" alt="" class="pixelated" style="width:100%; border-radius: 15px;">
                    </a>
                    {% endfor %}
                    {% else %}
                    <p class="text-center w-100">{{locale.photos_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}