{% extends "base.html" %}
{% set nav = 'club' %}
{% block body %}
<div class="page-content">
    <div class="settingsTitle">
        {{locale.club_buy}}
        {% include "Shop/panel.html" %}
    </div>

    <div class="flex-body mt_3">
        <div class="flex-body-left">
            <div class="shop-club-grid_2">
                <div class="box text-center">
                    <img src="/assets/images/web/pages/shop/catalog.png" alt="Furnis" width="40em">
                    <h2>{{locale.catalog}}</h2>
                    <p>{{locale.catalog_desc}}</p>
                </div>
                <div class="box text-center">
                    <img src="/assets/images/web/pages/shop/king.png" alt="King" width="50em">
                    <h2 style="margin-top: 1.25em;">{{locale.king}}</h2>
                    <p>{{locale.king_desc}}</p>
                </div>
            </div>
            <div class="box text-center">
                <img src="{{site.cpath}}/c_images/album1584/CVIP.gif" alt="VIP" width="50em">
                <h2>{{locale.gift}}</h2>
                <p>{{locale.gift_desc}}</p>
            </div>
            <div class="shop-club-grid_2">
                <div class="box text-center">
                    <img src="/assets/images/web/pages/shop/build.png" alt="Build" width="40em">
                    <h2>{{locale.build}}</h2>
                    <p>{{locale.build_desc}}</p>
                </div>
                <div class="box text-center">
                    <img src="/assets/images/web/pages/shop/friends.png" alt="Groups" width="40em">
                    <h2>{{locale.groups}}</h2>
                    <p>{{locale.groups_desc}}</p>
                </div>
            </div>
            <div class="box text-center">
                <img src="/assets/images/web/pages/shop/rooms.png" alt="No limit" width="50em">
                <h2>{{locale.rooms}}</h2>
                <p>{{locale.rooms_desc}}</p>
            </div>
            <div class="shop-club-grid_2">
                <div class="box text-center">
                    <img src="/assets/images/web/pages/shop/bubble.png" alt="No flood" width="70em">
                    <h2 style="margin-top: 1.5em;">{{locale.flood}}</h2>
                    <p>{{locale.flood_desc}}</p>
                </div>
                <div class="box text-center">
                    <img src="/assets/images/web/pages/shop/bubbles.png" alt="Commands" width="35em">
                    <h2>{{locale.commands}}</h2>
                    <p>{{locale.commands_desc}}</p>
                </div>
            </div>
        </div>
        <div class="flex-body-right">
            <div class="box shop-box">
                <div class="shop-center-X">
                    <img src="/assets/icons/diamonds.svg" alt="">
                    <span class="shop-center-Y">{{data.diamonds}}</span>
                </div>
            </div>

            <div class="box text-center">
                <div class="title">{{locale.club_buy}}</div>
                <form action="shop/club/buy">
                    <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                    <button class="rounded-button light mt_2">
                        {% if data.vip_membership_days == "lifetime" %}{{locale.unlimited}}{% else
                        %}{{data.vip_membership_days}} {{locale.days}} {% endif %} ({{data.vip_price}}
                        {{data.vip_type}})
                    </button>
                </form>
            </div>

            <div class="box">
                <div class="title">{{locale.more_information}}</div>
                <p>{{locale.desc}}</p>
                <p>
                    {{locale.content_1}} {{locale.content_2}}
                    <a href="/help/requests/new">{{locale.help_tool}}</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}