{% extends "base.html" %}

{% block body %}
<div class="settingsTitle">
    {{locale.store}}
    {% include "Shop/panel.html" %}
</div>

<div class="page-content">
    <div class="flex-body mt_3">
        <div class="flex_1 shop-offer">
            <input type="hidden" id="offer-id" value="{{data.offer.offer_id}}">
            <input type="hidden" id="offer-amount" value="{{data.offer.amount}}">
            <input type="hidden" id="offer-country" value="{{data.offer.lang|lower}}">
            <input type="hidden" id="offer-type" value="{{data.offer.type}}">
            <div class="box">
                <div class="box-title">
                    {{locale.buymethods}} - {{data.offer.amount}} {{data.offer.currency}} {{locale.for}} {{data.offer.price}} EUR {{locale.or_lower}}
                </div>
            </div>
            <div class="box mt_1 loading-solutions">
                <p>{{locale.loading_methods}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}