{% extends "base.html" %}
{% set nav = 'shop' %}
{% block body %}
<div class="page-content">
    <div class="settingsTitle">
        {{locale.store}}
        {% include "Shop/panel.html" %}
    </div>

    <div class="flex-body mt_3">
        <div class="flex-body-left">
            <div class="box">
                <div class="box-title">{{locale.title}}</div>

                <div class="offers-container">
                    {% for offer in data.shop %}
                    <div class="offer-container">
                        <a href="/shop/offers/{{offer.offer_id}}" class="offer-content pixelated">
                            <div class="offer-label">{{offer.amount ~ ' ' ~ offer.currency}}</div>
                            {% if offer.amount >= 500 %}<div class="offer-label"></div>{% endif %}
                            <div class="offer-amount">{{offer.price}} EUR</div>
                            <img src="/assets/images/web/pages/shop/diamonds.svg"
                                 style="width: 5em; image-rendering: pixelated;">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex-body-right">
            <div class="box shop-box">
                <div class="shop-center-X">
                    <img src="/assets/icons/diamonds.svg" alt="">
                    <span class="shop-center-Y">{{data.diamonds}}</span>
                </div>
            </div>
            <div class="box">
                <div class="title">{{locale.more_information}}</div>
                <p>{{locale.desc}}</p>
                <p>{{locale.content_1}} {{locale.content_2}} <a href="/help/requests/new">{{locale.help_tool}}</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}