{% extends "base.html" %}
{% set nav = 'shop' %}
{% block body %}
<div class="page-content">
    <div class="settingsTitle">
        {{locale.store}}
        {% include "Shop/panel.html" %}
    </div>

    <div class="flex-body mt_3">
        <div class="flex-body-left">
            <div class="shop-grid">
                {% for offer in data.shop %}
                <a href="/shop/offers/{{offer.offer_id}}" class="offer-content pixelated">
                    <img src="/assets/images/web/pages/shop/{{offer.amount}}.png" class="shop-image">
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="flex-body-right">
            <div class="box shop-box">
                <div class="shop-center-X">
                    <img src="/assets/icons/diamonds.svg" alt="">
                    <span class="shop-center-Y">{{data.diamonds}}</span>
                </div>
            </div>
            <div class="box">
                <div class="title">{{locale.more_information}}</div>
                <p>{{locale.desc}}</p>
                <p>{{locale.content_1}} {{locale.content_2}} <a href="/help/requests/new">{{locale.help_tool}}</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}