<table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
    <tbody>
    <tr>
        <td width="100%" style="font-family:'Ubuntu',Arial,sans-serif;color:#000">
            <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                <tr bgcolor="#ff9966">
                    <td bgcolor="#ff9966" style="background: linear-gradient(to right, #ff9966, #ff5e62); background: -webkit-linear-gradient(to right, #ff9966, #ff5e62);">
                        <table width="526" align="center" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td width="100%" height="10"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a href="{{site.domain}}/" target="_blank">
                                        <img src="{{site.domain}}/assets/images/halloween.png" style="width: 7em;">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" height="15"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="20"></td>
                </tr>
                <tr>
                    <td>
                        <table width="526" align="center" cellpadding="0" cellspacing="0" border="0" style="font-size:14px;line-height:1.7;text-align:left">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:26px;margin:15px 0"><div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Hey, {{username}}!</div></div></p>
                                    </td>
                                </tr>

                                <tr>
                                    {% if players is empty %}
                                    <td>
                                        <div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Vous avez demandé à changer votre mot de passe sur Habbox Hôtel.</div></div>
                                        <div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Cliquez sur le bouton ci-dessous pour changer votre mot de passe. Le lien expirera dans 2 heures, alors faites vite!</div></div>
                                    </td>
                                    {% else %}
                                    <td>
                                        <div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Voici tous vos comptes enregistrés sur Habbox Hôtel:</div></div>
                                        <p style="font-weight: bold">
                                            {% for item in players %}
                                            {{item.username}}<br>
                                            {% endfor %}
                                        </p>
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td width="100%" height="20"></td>
                                </tr>

                                <tr>
                                    <td align="center">
                                        {% if players is empty %}
                                        <a href="{{url}}" style="background-color:#ff9966;border-radius:3px!important;color:#ffffff;display:inline-block;font-weight:normal;line-height:38px;margin:6px;text-align:center;text-decoration:none;padding:0 15px" target="_blank"><div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Cliquez ici pour changer votre mot de passe</div></div></a>
                                        {% else %}
                                        <a href="{{site.domain}}" style="background-color:#ff9966;border-radius:3px!important;color:#ffffff;display:inline-block;font-weight:normal;line-height:38px;margin:6px;text-align:center;text-decoration:none;padding:0 15px" target="_blank"><div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Accéder à Habbox Hôtel</div></div></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20"></td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Vous n'avez pas demandé ce changement? </div><div style="vertical-align: inherit;">Si c'est une erreur, ignorez ce message et le mot de passe actuel restera le même.</div></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="100%" height="20"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="vertical-align: inherit;"><div style="vertical-align: inherit;">&#65279;A toute à l'heure, </div></div><div style="vertical-align: inherit;"><div style="vertical-align: inherit;">L'administration d'{{site.shortname}}</div></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="30"></td>
                </tr>
                </tbody>
            </table>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                <tr>
                    <td align="center" valign="middle" style="color:#afafaf;font-size:12px;line-height:1.7"><div style="vertical-align: inherit;"><div style="vertical-align: inherit;">
                        © {{'now'|date('Y')}} {{site.domain}} - Tous droits réservés. </div></div><div style="vertical-align: inherit;"><div style="vertical-align: inherit;">Si vous n'êtes pas familier avec {{site.shortname}}, veuillez ignorer ce message.
                    </div></div></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%" height="40"></td>
    </tr>
    </tbody>
</table>