<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="follow, index">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title>{{site.sitename}} - {{title}}</title>

    <meta name="description" content="Habbox - fais-toi plein d'amis, deviens un Habbo célèbre ! Séjourne GRATUITEMENT dans l'un des meilleurs hôtel habbo.">
    <meta name="keywords" content="habbox, habboz, habbo, habbo hotel, habbocity, habbo city, habbo alpha, habboalpha, habboo, rétro, rétro habbo, bobbalive, adohotel, bobbahotel, habbix, jeu en ligne, serveur habbo, communauté, avatar, jeu, cosmic, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rare, rare meubi, collect, make, collect, contact, meubi, furniture, pets, furnish room, share, expression, badges, hangout, music, celebrity, VIP visits, celebs, mmo, mmorpgs, massive multiplayer, dox , dox hotel, dox hotel, space hotel, space hotel, space, sunnie, sunnie day, sunnieday, habbo, HABBO, habbo hotel, habboo, habbo city, habbocity, cool, virtual world, vip, retro, retro hotel, habbo retro, free, free habbo, holo">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Habbox">
    <meta name="twitter:description" content="Habbox - fais-toi plein d'amis, deviens un Habbo célèbre ! Séjourne GRATUITEMENT dans l'un des meilleurs hôtel habbo.">
    <meta name="twitter:image" content="https://www.habbox.fr/assets/images/habbox_hotel.png">
    <meta name="twitter:site" content="@habboxfrance">
    <meta name="twitter:url" content="https://www.habbox.fr">
    <meta name="twitter:widgets:csp" content="on">

    <meta property="og:title" content="Habbox Hôtel">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.habbox.fr">
    <meta property="og:image" content="https://www.habbox.fr/assets/images/habbox_hotel.png">
    <meta property="og:description" content="Habbox - fais-toi plein d'amis, deviens un Habbo célèbre ! Séjourne GRATUITEMENT dans l'un des meilleurs hôtel habbo.">
    <meta property="og:site_name" content="Habbox">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bbeditor.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/homes.css">
    <link rel="stylesheet" href="/assets/css/selectric.css">
    <link rel="stylesheet" href="/assets/css/circle.css?v=5">
    <link rel="stylesheet" href="/assets/css/web.{{theme == 'christmas' or theme == 'winter' ? 'christmas.' : theme == 'halloween' ? theme ~ '.' : '' }}{% if player %}{{player.template}}{% else %}{% if template %}{{template}}{% else %}light{% endif %}{% endif %}.css?v={{cache_timestamp}}">
    <link rel="stylesheet" href="/assets/css/web.responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="index-body">
<noscript>
    <style>
        .loading-container {
            display: none;
        }
    </style>
</noscript>
<div class="loading-container">
    <div id="loading-background"></div>
    <div class="loading-content">
        <div class="c100 center">
            <span></span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div class="loading-bodytext"></div>
    </div>
</div>

<div class="page-loading"></div>
<div class="notifications-container"></div>

<div class="cookies-accept-container">
    <div class="close-container">&times;</div>
    {{locale_base.cookies}}
    <a href="/help" target="_blank">{{locale_base.read_more}}</a>
</div>

{% if theme == 'classic' %}
<img src="/assets/images/index/index.png" class="index-hotel-view classic" alt="hotel view">
{% elseif theme == 'christmas' or theme == 'winter' %}
<img src="/assets/images/index/christmas.png" class="index-hotel-view" alt="hotel view">
{% elseif theme == 'easter' %}
<img src="/assets/images/index/easter.png" class="index-hotel-view easter" alt="hotel view">
{% elseif theme == 'halloween' %}
<img src="/assets/images/index/halloween.png" class="index-hotel-view" alt="hotel view">
{% elseif theme == 'valentine' %}
<img src="/assets/images/index/valentine.png" class="index-hotel-view valentine" alt="hotel view">
{% elseif theme == 'summer' %}
<img src="/assets/images/index/summer.png" class="index-hotel-view summer" alt="hotel view">
{% endif %}

<div class="index-left">
    <div class="index-logo-center">
        <a href="/" target="_self">
            {% if theme == 'classic' %}
            <img src="/assets/images/habbox.gif" class="index-logo classic" alt="logo">
            {% elseif theme == 'christmas' %}
            <img src="/assets/images/habbox-candy.png" class="index-logo" alt="logo">
            {% elseif theme == 'easter' %}
            <img src="/assets/images/habbox-easter.png" class="index-logo" alt="logo">
            {% elseif theme == 'halloween' %}
            <img src="/assets/images/habbox-halloween.png" class="index-logo" alt="logo">
            {% elseif theme == 'valentine' %}
            <img src="/assets/images/habbox-valentine.png" class="index-logo" alt="logo">
            {% elseif theme == 'winter' %}
            <img src="/assets/images/habbox-winter.png" class="index-logo" alt="logo">
            {% elseif theme == 'summer' %}
            <img src="/assets/images/habbox-summer.png" class="index-logo" alt="logo">
            {% endif %}
        </a>
    </div>

    <h1 class="mt_1 index-logo-center">{{locale.title}}</h1>
    <div class="page-container" data-page="{% if page is empty %}lost{% else %}{{page}}{% endif %}" style="padding: 0;">
        <div class="box mt_2">
            {{locale.content_1}} <b>{{locale.content_2}}</b>
            <form action="password/claim/validate" method="post" autocomplete="off"
                  class="password_claim-form mt_2">
                <h4>{{locale.username}}</h4>
                <input type="text" name="username" maxlength="32" autofocus required>

                <h4>{{locale.email}}</h4>
                <input type="email" name="email" required>
                <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                <div class="submit-button">
                    <button type="submit" class="rounded-button light submit-form default-prevent"
                            id="password_claim-recaptcha">{{locale.send}}
                    </button>
                </div>
            </form>
        </div>
        <div class="box mt_2">
            <div class="title">{{locale.wrong_page}}</div>
            <p>{{locale.wrong_page_content_1}}</p>
            <div class="text-center">
                <a href="/" target="_self" class="rounded-button light mt_1">{{locale.back_to_home}}</a>
            </div>
        </div>
    </div>
</div>

<script>
    var Site = {
        name: "{{site.sitename}}",
        url: "{{site.domain}}",
        game_url: "{{site.cpath}}",
        figure_url: "{{site.fpath}}"
    }
    var Configuration = {
    {% if publickey is not empty %}recaptcha_public: "{{publickey}}",{% endif %}
    revision: "{{revision}}2213",
        cache: "{{cache_timestamp}}",
        findretros: {% if findretros %}true{% else %}false{% endif %}
    }
</script>
<script src="/assets/js/js.cookie.js"></script>
<script src="/assets/js/jquery.history.js"></script>
<script src="/assets/js/jquery.fullscreen.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/selectric.js?v=34212"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/web/loading.js?v={{cache_timestamp}}"></script>
<script src="/assets/js/pagination.js"></script>
<script src="/assets/js/jquery.wysibb.js"></script>
<script src="/assets/js/more.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>