{% extends "base.html" %}
{% set nav = "namechange" %}
{% block body %}
<div class="page-content">
    <div class="settingsTitle">
        {{locale.title}}
        {% include "Settings/panel.html" %}
    </div>

    <div class="flex-body mt_3">
        <div class="flex-body-left">
            <div class="box">
                <form action="settings/namechange/validate" method="post">
                    <input type="text" name="username" class="newpin" id="username"
                           placeholder="{{locale.fill_username}}" maxlength="15" autocomplete="off" required>
                    <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                    <div class="text-center">
                        <button type="submit" id="changeButton" class="myBtn submit-password" style="margin-bottom: 0;"
                                disabled>
                            {{locale.request}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="flex-body-right">
            <div class="box" style="height: 100%;">
                {{locale.help_1}} <strong>{{price}} {{currency}}</strong> {{locale.help_2}}
            </div>
        </div>
    </div>
</div>
{% endblock %}