<div class="settings-panel">
    <a href="/settings/preferences" class="settingsMenu preferences {% if nav == "preferences" %}selected{% endif %}" data-label="{{locale.preferences}}"></a>
    <a href="/settings/password" class="settingsMenu password {% if nav == "password" %}selected{% endif %}" data-label="{{locale.password}}"></a>
    <a href="/settings/verification" class="settingsMenu verification {% if nav == "verification" %}selected{% endif %}" data-label="{{locale.verification}}"></a>
    <a href="/settings/email" class="settingsMenu email {% if nav == "email" %}selected{% endif %}" data-label="{{locale.email}}"></a>
    <a href="/settings/namechange" class="settingsMenu changename {% if nav == "namechange" %}selected{% endif %}" data-label="{{locale.namechange}}"></a>
    <a href="/shop/history" class="settingsMenu history"></a>
</div>