<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionModalLabel">Action sur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                Chargement...
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            
                <div class="modal-body">
                    <p>Vous êtes sur le point de supprimer une piste, cette procédure est irréversible.</p>
                    <p>Voulez-vous poursuivre?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn light btn-close" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn red btn-ok" data-dismiss="modal">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Alerte un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="remote/alert">
                    <label class="sr-only" for="inputUsername">Pseudo</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control" id="inputUsername" name="element" value="" placeholder="Pseudo..." autocomplete="off" autofocus required>
                    </div>
                    <label class="sr-only" for="inputReason">Raison</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <select id="inputReason" name="reason" class="form-control" required>
                            {% for alert in alert_messages %}
                            <option value="{{alert.id}}">{{alert.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="sr-only" for="inputExtra">Extra</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <select id="inputExtra" name="action" class="form-control" required>
                            <option value="0">Rien</option>
                            <option value="1">Disconnect</option>
                            <option value="2">Kick</option>
                            <option value="3">Mute</option>
                        </select>
                    </div>
                    <input type="hidden" name="object" value="alertuser" />
                    <div class="text-center mt-4">
                        <button type="submit" class="btn yellow mb-2">Alerte</button>
                        <button type="button" class="btn light  mb-2" data-dismiss="modal">Fermer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="banModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="banModalLabel">Bannir un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" action="remote/ban">
                    <label class="sr-only" for="inputUsername">Pseudo</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control" id="inputUsername" name="element"  placeholder="Pseudo..." autocomplete="off" autofocus required>
                        <input type="hidden" name="object" value="banuser" />
                    </div>
					
					<div class="input-group mb-2 mr-sm-2">
                        <select id="inputReason" name="reason" class="form-control" required></select>
                    </div>

                    <label class="sr-only" for="inputTime">Temps</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <select id="inputTime" name="expire" class="form-control" required></select>
                    </div>

                    <label class="sr-only" for="inputType">Type</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <select id="inputType" name="type" class="form-control" required>
                            <option value="user">Utilisateur</option>
                            <option value="ip">IP</option>
                        </select>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn red mb-2">Bannir l'utilisateur</button>
                        <button type="button" class="btn light mb-2" data-dismiss="modal">Fermer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
