{% extends "Admin/base.html" %}
{% set set_permission_page = 'housekeeping_home' %}

{% block page %}Statistiques{% endblock %}
{% block jsfile %}home{% endblock %}

{% block body %}
<div class="kt-portlet__body  kt-portlet__body--fit">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6">
            <div class="kt-portlet">
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Joueurs inscrits
                            </h4>
                            <span class="kt-widget24__desc">
                                          Nombre de joueurs inscrits sur l'hôtel
                                          </span>
                        </div>
                        <span class="kt-widget24__stats infos-server purple">
                                          <a href="#"
                                             id="showOnlinePlayers">{{data.players|number_format(0, '.', ',')}}</a>
                                       </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6">
            <div class="kt-portlet">
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Groupes créés
                            </h4>
                            <span class="kt-widget24__desc">
                                          Groupes créés sur l'hôtel
                                          </span>
                        </div>
                        <span class="kt-widget24__stats infos-server green_2">
                                       {{data.guilds|number_format(0, '.', ',')}}
                                       </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6">
            <div class="kt-portlet">
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Joueurs bannis
                            </h4>
                            <span class="kt-widget24__desc">
                                          Nombre de joueurs bannis de l'hôtel
                                          </span>
                        </div>
                        <span class="kt-widget24__stats infos-server orange">
                                       {{data.bans|number_format(0, '.', ',')}}
                                       </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6">
            <div class="kt-portlet">
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Appartements créés
                            </h4>
                            <span class="kt-widget24__desc">
                                          Nombre de d'appartements créés sur l'hôtel
                                          </span>
                        </div>
                        <span class="kt-widget24__stats infos-server indian">
                                       {{data.rooms|number_format(0, '.', ',')}}
                                       </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
