<div class="settings-panel">
    <a href="/shop" class="settingsMenu {% if nav == 'shop' %}selected{% endif %}">
        <img src="/assets/icons/settings/preferences.svg" alt="">
    </a>
    <a href="/shop/club" class="settingsMenu {% if nav == 'club' %}selected{% endif %}">
        <img src="/assets/icons/settings/password.svg" alt="">
    </a>
    <a href="/shop/drawbadge" class="settingsMenu {% if nav == 'badge' %}selected{% endif %}">
        <img src="/assets/icons/settings/verification.svg" alt="">
    </a>
    <a href="/shop/history" class="settingsMenu {% if nav == 'history' %}selected{% endif %}">
        <img src="/assets/icons/settings/mail.svg" alt="">
    </a>
</div>