{% extends "base.html" %}
{% set nav = "articles" %}
{% block title %}{{article.title}}{% endblock %}
{% block body %}

<div class="page-content">
    <div class="settingsTitle">
        {{locale.title}}
        {% include "Community/panel.html" %}
    </div>
    <div class="flex-body mt_3">
        <div class="flex-body-left">
            <div class="box">
                {% if article.category == 'nouveautés' %}
                <img src="/assets/icons/articles/nouveaute.svg" class="article-category">
                {% elseif article.category == 'concours' %}
                <img src="/assets/icons/articles/concours.svg" class="article-category">
                {% elseif article.category == 'évènements' %}
                <img src="/assets/icons/articles/evenement.svg" class="article-category">
                {% else %}
                <img src="/assets/icons/articles/blabla.svg" class="article-category">
                {% endif %}
                <div class="image-banner" style="background-image: url({{article.header}})"></div>
                <div class="box-title text-center">
                    {{article.title}}
                </div>
                {% if article.short_story %}
                <p class="short-description">
                    {{article.short_story}}
                </p>
                {% endif %}
                <div class="article-body">
                    {{article.full_story|raw}}
                    <p>{{locale.published_on ~ ' ' ~ article.timestamp|date('d/m/Y - H:i')}}</p>
                </div>
                <div class="article-author-infos">
                    <div class="article-author-image">
                        {% if article.author == '0' %}
                        <img src="/assets/images/web/avatar-frank.png" alt="Hotel Management"
                             class="article-frank pixelated">
                        {% else %}
                        <a href="/profile/{{article.author.username}}">
                            <img src="{{site.fpath}}/avatarimage?figure={{article.author.look}}&head_direction=3&gesture=sml&size=l&headonly=1"
                                 alt="{{article.author.username}}" width="125" class="pixelated">
                        </a>
                        {% endif %}
                    </div>
                    {% if article.author == "0" %}
                    Hotel Management
                    {% else %}
                    <a href="/profile/{{article.author.username}}" class="article-author-name">{{article.author.username}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="box">
                <img src="/assets/icons/articles/comment.svg" alt="{{locale.reactions}}" class="article-category">
                <div class="title">{{locale.reactions}}</div>
                <div class="comments">
                    {% if posts == null %}
                    <p class="nopost">
                        {{locale.reactions_empty}}
                    </p>
                    {% else %}
                    {% for post in posts %}
                    {% if post.hidden != 1 or 'housekeeping_moderation_tools' in permissions %}
                    <div class="flex-body comment" data-id="{{post.id}}">
                        <div class="comment-avatar-flex">
                            <a href="/profile/{{post.author.username}}" class="comment-avatar">
                                <img src="{{site.fpath}}/avatarimage?figure={{post.author.look}}&head_direction=3&size=l&headonly=1"
                                     alt="" class="flex_1 pixelated">
                            </a>
                        </div>
                        <div class="flex_5 comment-user-flex">
                            <a href="/profile/{{post.author.username}}" class="comment-user">
                                {{post.author.username}}
                            </a>
                            <span>
                                {{post.message|raw}}
                            </span>
                        </div>
                        {% if 'housekeeping_moderation_tools' in permissions %}
                        <div class="flex_1 comment-user-flex comment-icon">
                            <a href="#">
                                {% if post.hidden == 0 %}
                                <img src="/assets/icons/articles/hide.svg" alt="" data-id="{{post.id}}"
                                     class="fa-times">
                                {% else %}
                                <img src="/assets/icons/articles/show.svg" alt="" data-id="{{post.id}}" class="fa-eye">
                                {% endif %}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                {% if player %}
                <div class="input-group reaction-reply">
                    <input type="text" id="reply-message"
                           placeholder="{{locale.reactions_fill}}" required>
                    <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                    <button type="submit" class="myBtn article-reply" data-csrf="{{csrf_token}}"
                            data-id="{{article.id}}">{{locale.reactions_post}}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="flex-body-right">
            <div class="box">
                <div class="title">{{locale.latest_news}}</div>
                {% for item in latest_news %}
                <a href="/article/{{item.id}}-{{item.slug}}" class="lastNews flex-body">
                    {% if item.category == 'nouveautés' %}
                    <img src="/assets/icons/articles/nouveaute.svg" class="iconNews">
                    {% elseif item.category == 'concours' %}
                    <img src="/assets/icons/articles/concours.svg" class="iconNews">
                    {% elseif item.category == 'évènements' %}
                    <img src="/assets/icons/articles/evenement.svg" class="iconNews">
                    {% else %}
                    <img src="/assets/icons/articles/blabla.svg" class="iconNews">
                    {% endif %}
                    <div class="flex_1">
                        <div class="imageBox" style="background-image: url({{item.header}});"></div>
                    </div>
                    <div class="flex_4 infosNews">
                        <span>{{item.title}}</span>
                        <span class="descNews">{{item.timestamp|date('d/m/Y - H:i')}}</span>
                        <span class="descNews">
                            {{ item.short_story|length > 50 ? item.short_story|slice(0,50) ~ '...' :
                            item.short_story }}
                        </span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}