<div class="settings-panel">
    <a href="/articles" class="settingsMenu {% if nav == 'articles' %}selected{% endif %}">
        <img src="/assets/icons/article.svg" alt="">
    </a>
    <!--<a href="/community/photos" class="settingsMenu {% if nav == 'photos' %}selected{% endif %}">
        <img src="/assets/icons/photos.svg" alt="">
    </a>-->
    <a href="/jobs" class="settingsMenu {% if nav == 'jobs' %}selected{% endif %}">
        <img src="/assets/icons/recrutements.svg" alt="">
    </a>
</div>