<div class="settings-panel">
    <a href="/articles" class="settingsMenu {% if nav == 'articles' %}selected{% endif %}">
        <img src="/assets/icons/settings/preferences.svg" alt="">
    </a>
    <a href="/community/photos" class="settingsMenu {% if nav == 'photos' %}selected{% endif %}">
        <img src="/assets/icons/settings/password.svg" alt="">
    </a>
    <a href="/jobs" class="settingsMenu {% if nav == 'jobs' %}selected{% endif %}">
        <img src="/assets/icons/settings/verification.svg" alt="">
    </a>
</div>