{% extends "base.html" %}

{% block body %}
{% set k = 0 %}
<div class="page-content">
    <div class="flex-body">
        <div class="flex-body-left">
            <div class="box">
                <div class="box-title">
                    La direction
                    <div class="team-title-round">
                        <img src="/assets/icons/team/Direction.svg" alt="Direction"
                             class="team-title-badge">
                    </div>
                </div>

                <div class="team-users">
                    {% if direction %}
                    {% for user in direction %}
                    <a href="/profile/{{user.username}}" class="team-user">
                        <div class="team-avatar-round_1 {% if user.online %}team-online{% endif %}">
                            <div class="team-avatar-round_2">
                                <img src="{{site.fpath}}/?figure={{user.look}}&head_direction=3&headonly=1"
                                     alt="{{user.username}}" class="team-avatar-image pixelated">
                            </div>
                        </div>
                        <p>{{user.username}}</p>
                        <p class="team-user-role">{{user.settings.role}}</p>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p>{{locale.no_users}}</p>
                    {% endif %}
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    L'administration
                    <div class="team-title-round">
                        <img src="/assets/icons/team/Administration.svg" alt="Administration"
                             class="team-title-badge">
                    </div>
                </div>

                <div class="team-users">
                    {% if admin %}
                    {% for user in admin %}
                    <a href="/profile/{{user.username}}" class="team-user">
                        <div class="team-avatar-round_1 {% if user.online %}team-online{% endif %}">
                            <div class="team-avatar-round_2">
                                <img src="{{site.fpath}}/?figure={{user.look}}&head_direction=3&headonly=1"
                                     alt="{{user.username}}" class="team-avatar-image pixelated">
                            </div>
                        </div>
                        <p>{{user.username}}</p>
                        <p class="team-user-role">{{user.settings.role}}</p>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p>{{locale.no_users}}</p>
                    {% endif %}
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    Les membres de l'équipe
                    <div class="team-title-round">
                        <img src="/assets/icons/team/Modération.svg" alt="Staff"
                             class="team-title-badge">
                    </div>
                </div>

                <div class="team-users">
                    {% if staffs %}
                    {% for user in staffs %}
                    <a href="/profile/{{user.username}}" class="team-user">
                        <div class="team-avatar-round_1 {% if user.online %}team-online{% endif %}">
                            <div class="team-avatar-round_2">
                                <img src="{{site.fpath}}/?figure={{user.look}}&head_direction=3&headonly=1"
                                     alt="{{user.username}}" class="team-avatar-image pixelated">
                            </div>
                        </div>
                        <p>{{user.username}}</p>
                        <p class="team-user-role">{{user.settings.role}}</p>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p>{{locale.no_users}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex-body-right">
            <div class="box">
                <div class="title">{{locale.title}}</div>
                <p class="team-description">{{locale.content_1}}</p>
                <p class="team-description">{{locale.content_2}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}