{% extends "base.html" %}

{% block body %}
{% set k = 0 %}
<div class="page-content">
    <div class="flex-body">
        <div class="flex-body-left">
            {% for employee in data|slice(0, 4) %}
            <div class="box">
                <div class="box-title">
                    {{employee.rank_name}}
                    <div class="team-title-round">
                        <img src="/assets/icons/team/{{employee.rank_name}}.svg" alt="{{employee.rank_name}}" class="team-title-badge">
                    </div>
                </div>

                <div class="team-users text-center">
                    {% if employee.users %}
                    {% for user in employee.users %}
                    <a href="/profile/{{user.username}}" class="team-user">
                        <div class="team-avatar-round_1 {% if user.online %}team-online{% endif %}">
                            <div class="team-avatar-round_2">
                                <img src="{{site.fpath}}/avatarimage?figure={{user.look}}&head_direction=3&headonly=1"
                                     alt="{{user.username}}" class="team-avatar-image pixelated">
                            </div>
                        </div>
                        <p>{{user.username}}</p>
                        <p class="team-user-role">{{user.settings.role}}</p>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p class="mt_2">{{locale.no_users}}</p>
                    {% endif %}
                </div>
            </div>
            {% set k = k + 1 %}
            {% endfor %}
        </div>
        <div class="flex-body-right">
            <div class="box">
                <div class="title">{{locale.title}}</div>
                <p class="team-description">{{locale.content_1}}</p>
                <p class="team-description">{{locale.content_2}}</p>
            </div>

            {% for employee in data|slice(4,data|length) %}
            <div class="box">
                <div class="box-title">
                    {% if employee.rank_name == 'Influence' %}
                    Artiste
                    {% elseif employee.rank_name == 'Pro Wired' %}
                    Événementiel
                    {% else %}
                    {{employee.rank_name}}
                    {% endif %}
                    <div class="team-title-round">
                        <img src="/assets/icons/team/{{employee.rank_name}}.svg" alt="{{employee.rank_name}}" class="team-title-badge">
                    </div>
                </div>

                <div class="team-users text-center">
                    {% if employee.users %}
                    {% for user in employee.users %}
                    <a href="/profile/{{user.username}}" class="team-user">
                        <div class="team-avatar-round_1 {% if user.online %}team-online{% endif %}">
                            <div class="team-avatar-round_2">
                                <img src="{{site.fpath}}/avatarimage?figure={{user.look}}&head_direction=3&headonly=1"
                                     alt="{{user.username}}" class="team-avatar-image pixelated">
                            </div>
                        </div>
                        <p>{{user.username}}</p>
                        <p class="team-user-role">{{user.settings.role}}</p>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p class="mt_2">{{locale.no_users}}</p>
                    {% endif %}
                </div>
            </div>
            {% set k = k + 1 %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}