{% extends "Events/base_events.html" %}
{% block styles %}
<link rel="stylesheet" href="/assets/events/squid-game/main.css" type="text/css"/>
{% endblock %}
{% block body %}
<div class="page-content">
    <h1 class="event-title">L'aventure Squid Game n'attends que toi</h1>
    <h2 class="event-subtitle">Oseras-tu prendre des risques pour décrocher le gros lot?</h2>
    <h3>Pour commencer, as-tu ton carton d'invitation?</h3>
    <div class="invitation"></div>
    <h3>Hm... ton invitation semble valide!</h3>
</div>
{% endblock %}