{% extends "base.html" %}
{% set nav = "help" %}
{% block body %}
<div class="page-content">
    <div class="settingsTitle">
        {{locale.casino.normal_rules_title}}
    </div>

    <div class="mt_3">
        <div class="box casino-rules-title-box">
            <div class="casino-image">
                <img src="/assets/images/web/pages/casino/rules.png" alt="Casino">
            </div>
            <div class="flex_1">
                <h1>{{locale.casino.rules_title}}</h1>
                <p>{{locale.casino.rules_desc}}</p>
            </div>
        </div>
        <div class="flex-body mt_2">
            <div class="flex-body-left">
                <div class="box">
                    <h2>{{locale.casino.rules_how_title}}</h2>
                    <p>
                        {{locale.casino.rules_how_1}}
                    </p>
                    <p>
                        {{locale.casino.rules_how_2|raw}}
                    </p>
                    <p>
                        <b>
                            {{locale.casino.rules_how_3|raw}}
                        </b>
                    </p>
                    <p>
                        <b>
                            {{locale.casino.rules_how_4|raw}}
                        </b>
                    </p>

                    <p>
                        {{locale.casino.rules_how_5|raw}}
                    </p>
                    <img src="/assets/images/web/pages/casino/arrow-{{theme == 'christmas' or theme == 'winter' ? 'christmas-' : theme == 'halloween' ? theme ~ '-' : '' }}{% if player %}{{player.template}}{% else %}{% if template %}{{template}}{% else %}light{% endif %}{% endif %}.png" alt="More" class="casino-arrow">
                </div>
            </div>
            <div class="flex-body-right">
                <div class="box">
                    <h2>{{locale.casino.rules_more_title}}</h2>
                    <p>
                        <b>
                            {{locale.casino.rules_more_1|raw}}
                        </b>
                    </p>
                    <p>
                        {{locale.casino.rules_more_2|raw}}
                    </p>
                    <p style="margin-bottom: 4em;">
                        <b>{{locale.casino.rules_more_3}}</b>
                    </p>
                    <img src="/assets/images/web/pages/casino/dice.png" alt="Dé" class="dice-image">
                </div>
            </div>
        </div>

        <div class="flex-body" style="margin-top: 8em;">
            <div class="flex_1 position-relative">
                <span class="example-text">{{locale.casino.example_title}}</span>
                <div class="position-relative shape-floating-left hide-mobile">
                    <img src="/assets/images/web/pages/casino/shape_one-{{theme == 'christmas' or theme == 'winter' ? 'christmas-' : theme == 'halloween' ? theme ~ '-' : '' }}{% if player %}{{player.template}}{% else %}{% if template %}{{template}}{% else %}light{% endif %}{% endif %}.png" alt="J1" class="casino-shapes">
                    <img src="/assets/images/web/pages/casino/joueur1.svg" alt="J1" class="casino-rules-J1">
                </div>
            </div>
            <div class="flex_1">
                <div class="position-relative shape-floating-right hide-mobile">
                    <img src="/assets/images/web/pages/casino/shape_two-{{theme == 'christmas' or theme == 'winter' ? 'christmas-' : theme == 'halloween' ? theme ~ '-' : '' }}{% if player %}{{player.template}}{% else %}{% if template %}{{template}}{% else %}light{% endif %}{% endif %}.png" alt="J2" class="casino-shapes">
                    <img src="/assets/images/web/pages/casino/joueur2.svg" alt="J2" class="casino-rules-J2">
                </div>
            </div>
        </div>

        <div class="flex-body mt_3 hide-mobile">
            <div class="flex_1 position-relative" style="padding: 0 8em;">
                <div class="line_1 hide-mobile"></div>
                <div class="line_2 hide-mobile"></div>
                <div class="line_3 hide-mobile"></div>
                <div class="line_4 hide-mobile"></div>
                <div class="line_5 hide-mobile"></div>
                <div class="box text-center mt_2">
                    <h2>{{locale.casino.example_J1}}</h2>
                    <p>{{locale.casino.example_part_1|raw}}</p>
                </div>

                <div class="box text-center mt_2">
                    <h2>{{locale.casino.example_J1}}</h2>
                    <p>
                        {{locale.casino.example_part_2|raw}}
                    </p>
                </div>

                <div class="box text-center mt_2">
                    <h2>{{locale.casino.example_J1}}</h2>
                    <p>
                        {{locale.casino.example_part_3|raw}}
                    </p>
                </div>
            </div>
            <div class="flex_1" style="padding: 0 8em;">
                <div class="box text-center mt_2">
                    <h2>{{locale.casino.example_J2}}</h2>
                    <p>
                        {{locale.casino.example_part_4|raw}}
                    </p>
                </div>

                <div class="box text-center mt_2">
                    <h2>{{locale.casino.example_J2}}</h2>
                    <p>
                        {{locale.casino.example_part_5|raw}}
                    </p>
                </div>

                <div class="box text-center mt_2">
                    <h2>{{locale.casino.example_J2}}</h2>
                    <p>
                        {{locale.casino.example_part_6|raw}}
                    </p>
                    <p>
                        <b>{{locale.casino.example_same|raw}}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="show-mobile" style="padding: 0 8em;">
            <div class="box text-center mt_2">
                <h2>{{locale.casino.example_J1}}</h2>
                <p>{{locale.casino.example_part_1|raw}}</p>
            </div>

            <div class="box text-center mt_2">
                <h2>{{locale.casino.example_J2}}</h2>
                <p>
                    {{locale.casino.example_part_4|raw}}
                </p>
            </div>

            <div class="box text-center mt_2">
                <h2>{{locale.casino.example_J1}}</h2>
                <p>
                    {{locale.casino.example_part_2|raw}}
                </p>
            </div>

            <div class="box text-center mt_2">
                <h2>{{locale.casino.example_J2}}</h2>
                <p>
                    {{locale.casino.example_part_5|raw}}
                </p>
            </div>

            <div class="box text-center mt_2">
                <h2>{{locale.casino.example_J1}}</h2>
                <p>
                    {{locale.casino.example_part_3|raw}}
                </p>
            </div>

            <div class="box text-center mt_2">
                <h2>{{locale.casino.example_J2}}</h2>
                <p>
                    {{locale.casino.example_part_6|raw}}
                </p>
                <p>
                    <b>{{locale.casino.example_same|raw}}</b>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}