<div class="kt-portlet" id="tools">
<div class="kt-portlet__body kt-portlet__body--fit">
   <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="first">
      <div class="kt-grid__item kt-wizard-v2__aside">
         <div class="kt-wizard-v2__nav">
            <div class="kt-wizard-v2__nav-items">
               <a class="kt-wizard-v2__nav-item" href="#tools" data-ktwizard-type="step" data-ktwizard-state="current">
                  <div class="kt-wizard-v2__nav-body">
                     <div class="kt-wizard-v2__nav-icon">
                        <i class="flaticon-globe"></i>
                     </div>
                     <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                           Gérer l'utilisateur
                        </div>
                        <div class="kt-wizard-v2__nav-label-desc">
                           Rechercher des informations
                        </div>
                     </div>
                  </div>
               </a>
               <a class="kt-wizard-v2__nav-item" href="#tools" data-ktwizard-type="step" data-ktwizard-state="pending">
                  <div class="kt-wizard-v2__nav-body">
                     <div class="kt-wizard-v2__nav-icon">
                        <i class="flaticon-bus-stop"></i>
                     </div>
                     <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                           Réinitialiser l'utilisateur
                        </div>
                        <div class="kt-wizard-v2__nav-label-desc">
                           Réinitialiser la mission / le look
                        </div>
                     </div>
                  </div>
               </a>
               <a class="kt-wizard-v2__nav-item" href="#tools" data-ktwizard-type="step" data-ktwizard-state="pending">
                  <div class="kt-wizard-v2__nav-body">
                     <div class="kt-wizard-v2__nav-icon">
                        <i class="flaticon-responsive"></i>
                     </div>
                     <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                           Bannir l'utilisateur
                        </div>
                        <div class="kt-wizard-v2__nav-label-desc">
                           Bannir un utilisateur de l'hôtel
                        </div>
                     </div>
                  </div>
               </a>
               <a class="kt-wizard-v2__nav-item" href="#tools" data-ktwizard-type="step" data-ktwizard-state="pending">
                  <div class="kt-wizard-v2__nav-body">
                     <div class="kt-wizard-v2__nav-icon">
                        <i class="flaticon-trophy"></i>
                     </div>
                     <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                           Alerter l'utilisateur
                        </div>
                        <div class="kt-wizard-v2__nav-label-desc">
                           Envoyer une alerte sur l'hôtel
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div>
      </div>
     
      <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
         <div class="kt-form" id="kt_form">
           
            <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
               <div class="kt-heading kt-heading--md">Voir les informations de l'utilisateur</div>
               <div class="kt-form__section kt-form__section--first">
                  <form action="remote/manage">
                     <div class="kt-wizard-v2__form">
                        <div class="form-group ">
                           <div class="kt-input-icon kt-input-icon--right">
                              <select name="element" class="form-control remoteControl"></select>
                              <span class="kt-input-icon__icon kt-input-icon__icon--right">
                              </span>
                           </div>
                        </div>
                        <div class="form-group">
                           <select name="type" class="form-control">
                              <option value="" selected>Toutes les informations</option>
                              <option value="userinfo">Informations de l'utilisateur</option>
                              <option value="chatlogs">Historique des tchats</option>
							  <option value="tradelogs">Historique des échanges</option>
                              <option value="namelogs">Changement de pseudos</option>
                              <option value="maillogs">Changement d'adresse e-mail</option>
                              <option value="roomlogs">Apparts</option>
                           </select>
                        </div>
                        <div class="kt-form__actions">
                            <button type="submit" class="btn light ajaxLoad">Soumettre</button>
                        </div>
                  </form>
                  </div>
               </div>
            </div>
    
            <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
               <div class="kt-heading kt-heading--md">Réinitialiser l'utilisateur</div>
               <div class="kt-form__section kt-form__section--first">
                  <form action="remote/reset">
                     <div class="kt-wizard-v2__form">
                        <div class="form-group ">
                           <div class="kt-input-icon kt-input-icon--right">
                              <select name="element" class="form-control remoteControl"></select>
                              <span class="kt-input-icon__icon kt-input-icon__icon--right">
                              </span>
                           </div>
                        </div>
                        <div class="form-group">
                           <select name="type" class="form-control">
                              <option value="1">Mission</option>
                              <option value="2">Look</option>
                           </select>
                        </div>
                       <div class="kt-form__actions">
                          <button type="submit" class="btn light ajaxLoad">Soumettre</button>
                       </div>
                    </form>
                  </div>
               </div>
            </div>

            <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
               <div class="kt-heading kt-heading--md">Bannir l'utilisateur</div>
               <div class="kt-form__section kt-form__section--first">
                  <form action="remote/ban">
                     <div class="kt-wizard-v2__form">
                        <div class="form-group ">
                           <div class="kt-input-icon kt-input-icon--right">
                              <select name="element" class="form-control remoteControl"></select>
                              <span class="kt-input-icon__icon kt-input-icon__icon--right">
                              </span>
                           </div>
                        </div>
                        <div class="form-group">
                            <select name="reason" class="form-control" required>
                            {% for ban in ban_messages %}
                                <option value="{{ban.id}}">{{ban.message}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="expire" class="form-control" id="inputTime" required>
                                {% for ban in ban_times %}
                                    <option value="{{ban.id}}">{{ban.message}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                           <select name="type" class="form-control" required>
                              <option value="user">Utilisateur</option>
                              <option value="ip">IP</option>
                          </select>
                        </div>
                        <div class="kt-form__actions">
						  <button type="submit" class="btn light ajaxLoad">Soumettre</button>
					   </div>
					</form>
                  </div>
               </div>
            </div>
           
            <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
               <div class="kt-heading kt-heading--md">Alerter l'utilisateur</div>
               <div class="kt-form__section kt-form__section--first">
                  <form action="remote/alert">
                     <div class="kt-wizard-v2__form">
                        <div class="form-group ">
                           <div class="kt-input-icon kt-input-icon--right">
                              <select name="element" class="form-control remoteControl"></select>
                              <span class="kt-input-icon__icon kt-input-icon__icon--right">
                              </span>
                           </div>
                        </div>
                        <div class="form-group">
                            <select name="reason" class="form-control" required>
                                {% for alert in alert_messages %}
                                <option value="{{alert.id}}">{{alert.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="action" class="form-control" required>
                                <option value="0">Rien</option>
								<option value="2">Muter</option>
                                <option value="1">Déconnecter</option>
                            </select>
                        </div>
                        <div class="kt-form__actions">
                           <button type="submit" class="btn light ajaxLoad">Soumettre</button>
                        </div>
                    </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>