{% extends "permissions.html" %}{% set set_permission = 'homepage' %}{% block base %}{% if load is not defined %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="follow, index">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title>{{title}} - {{site.sitename}}</title>

    <meta name="description" content="Habbox - fais-toi plein d'amis, deviens un Habbo célèbre ! Séjourne GRATUITEMENT dans l'un des meilleurs hôtel habbo.">
    <meta name="keywords" content="habbox, habboz, habbo, habbo hotel, habbocity, habbo city, habbo alpha, habboalpha, habboo, rétro, rétro habbo, bobbalive, adohotel, bobbahotel, habbix, jeu en ligne, serveur habbo, communauté, avatar, jeu, cosmic, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rare, rare meubi, collect, make, collect, contact, meubi, furniture, pets, furnish room, share, expression, badges, hangout, music, celebrity, VIP visits, celebs, mmo, mmorpgs, massive multiplayer, dox , dox hotel, dox hotel, space hotel, space hotel, space, sunnie, sunnie day, sunnieday, habbo, HABBO, habbo hotel, habboo, habbo city, habbocity, cool, virtual world, vip, retro, retro hotel, habbo retro, free, free habbo, holo">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Habbox">
    <meta name="twitter:description" content="Habbox - fais-toi plein d'amis, deviens un Habbo célèbre ! Séjourne GRATUITEMENT dans l'un des meilleurs hôtel habbo.">
    <meta name="twitter:image" content="https://www.habbox.fr/assets/images/habbox_hotel.png">
    <meta name="twitter:site" content="@habboxfrance">
    <meta name="twitter:url" content="https://www.habbox.fr">
    <meta name="twitter:widgets:csp" content="on">

    <meta property="og:title" content="Habbox Hôtel">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.habbox.fr">
    <meta property="og:image" content="https://www.habbox.fr/assets/images/habbox_hotel.png">
    <meta property="og:description" content="Habbox - fais-toi plein d'amis, deviens un Habbo célèbre ! Séjourne GRATUITEMENT dans l'un des meilleurs hôtel habbo.">
    <meta property="og:site_name" content="Habbox">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bbeditor.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/homes.css">
    <link rel="stylesheet" href="/assets/css/selectric.css">
    <link rel="stylesheet" href="/assets/css/circle.css?v=5">
    <link rel="stylesheet" href="/assets/css/web.{% if player %}{{player.template}}{% else %}{% if template %}{{template}}{% else %}light{% endif %}{% endif %}.css?v={{cache_timestamp}}">
    <link rel="stylesheet" href="/assets/css/web.responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


    <script>
        var Site = {
            name: "{{site.sitename}}",
            url: "{{site.domain}}",
            game_url: "{{site.cpath}}",
            figure_url: "{{site.fpath}}"
        }

        {% if player is empty %}
        var User = {
            id: 0,
            username: "",
            online: 0,
            is_logged: false,
            is_staff: false
        }
        {% else %}
        var Client = {
            client_radio: "{{client.client_radio}}",
            nitro_path: "{{client.nitro_path}}"
        }
        var User = {
            id: {{player.id}},
        username: "{{player.username}}",
            is_logged: true,
            ticket: "{{player.auth_ticket}}",
            is_staff: {% if player.rank >= 3 %}true{% else %}false{% endif %}

        };
        {% endif %}
        var Configuration = {
        {% if publickey is not empty %}recaptcha_public: "{{publickey}}",{% endif %}
        revision: "{{revision}}2213",
            cache: "{{cache_timestamp}}",
            findretros: {% if findretros %}true{% else %}false{% endif %}
        }
    </script>
</head>

<body class="flex-container flex-direction-column">
<noscript>
    <style>
        .loading-container {
            display: none;
        }
    </style>
</noscript>
<div class="loading-container">
    <div id="loading-background"></div>
    <div class="loading-content">
        <div class="c100 center">
            <span></span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div class="loading-bodytext"></div>
    </div>
</div>

<div class="page-loading"></div>
<div class="notifications-container"></div>

<div class="cookies-accept-container">
    <div class="close-container">&times;</div>
    {{locale_base.cookies}}
    <a href="/help" target="_blank">{{locale_base.read_more}}</a>
</div>

<div id="about-dialog" class="login-popup zoom-anim-dialog mfp-hide">
    <h1 class="aside-title">{{site.sitename}}</h1>
    <p>{{locale_base.thanks_for_playing}} {{site.shortname}}!<br>{{site.shortname}} {{locale_base.made_with_love}}
        ♥<br><br>
    <h4>Cosmic 2.1.0</h4>Raizer
    </p>

    <h5>{{locale_base.and_all}} {{site.shortname}}'s ♥</h5>
</div>

{% if player is empty %}
<div id="login-dialog" class="login-popup zoom-anim-dialog mfp-hide">
    <h3 class="title">{{locale_base.login_title}}</h3>
    <div class="login-form">
        <form class="login-form" action="#">
        <label for="login-username-input-target" class="username-input">
            <input type="text" name="username" id="login-username-input-target"
                   placeholder="{{locale_base.login_name}}..." required>
        </label>
        <label for="login-password-input-target" class="password-input mt_1">
            <input type="password" name="password"
                   id="login-password-input-target" placeholder="{{locale_base.login_password}}..." autocomplete="off"
                   required>
        </label>
        <input type="hidden" name="csrftoken" value="{{csrf_token}}" />
        <div class="text-center mt_2">
            <a href="/password/claim" target="_self" data-close-popup="true"
               class="light">{{locale_base.login_lost_password}}</a>
        </div>
        <button type="submit" class="rounded-button light plain mt_1" id="login-request">{{locale_base.header_login}}</button>
        </form>
    </div>
</div>
{% endif %}
{% if player %}
<div id="report-item" class="confirm-popup dialog-popup zoom-anim-dialog mfp-hide">
    <h3>{{locale_base.report_message}}</h3>
    <p>
        {{locale_base.report_certainty}}
    </p>
    <form action="/ajax/report/add" method="post" class="login-form" id="reportForm">
        <div class="buttons-container">
            <input type="hidden" id="reportItemid" name="itemId" value="">
            <button type="submit" class="rounded-button light plain" id="reportItem">
                {{locale_base.report_inappropriate}}
            </button>
        </div>
    </form>
</div>
{% endif %}

<div class="left-nav">
    <div class="absolute-menu">
        <div class="left-nav-menu">
            <img src="/assets/icons/croix.svg" alt="close" class="left-nav-menu-wrapper">
        </div>
    </div>
    <div class="habbox-logo">
        {% if player %}
        <a href="/home">
            <img src="/assets/images/habbox.gif" alt="Habbox Logo" width="100%">
        </a>
        {% else %}
        <a href="/" target="_self">
            <img src="/assets/images/habbox.gif" alt="Habbox Logo" width="100%">
        </a>
        {% endif %}
    </div>
    {% if player %}
    <a href="/profile/{{player.username}}">
        <div class="user-avatar-round_1">
            <div class="user-avatar-round_2">
                <img src="{{site.fpath}}/avatarimage?figure={{player.look}}&head_direction=3&headonly=1" alt="Avatar" class="user-avatar-image pixelated">
            </div>
        </div>
    </a>
    <div class="user-name">{{player.username}}</div>
    <div class="user-motto">{{player.motto}}</div>

    <div class="user-infos-moneys">
        <div class="user-infos-moneys_one">
            <div class="user-infos-moneys_one--box">
                <img src="/assets/icons/credits.svg" alt="credits">
                <p>{{player.credits >= 1000 ? (player.credits/1000)|round(1) ~ 'K' : player.credits}}</p>
            </div>
        </div>
        {% for currency in player_currency %}
        <div class="user-infos-moneys_one">
            <div class="user-infos-moneys_one--box">
                <img src="/assets/icons/{{currency.currency}}.svg" alt="{{currency.currency}}">
                <p>{{currency.amount >= 1000 ? (currency.amount/1000)|round(1) ~ 'K' : currency.amount}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="navigation-links">
        <div class="navigation-item">
            <a href="/ranking/wealth">
                <div class="nav-highscore {% if 'ranking' in page %}selected {% endif %} navigation-link tooltip" data-page="games_ranking">
                    <span class="text">{{locale_base.nav_highscores}}</span>
                </div>
            </a>
        </div>

        <div class="navigation-item">
            <a href="/articles">
                <div class="nav-community {% if 'article' in page %}selected {% endif %} navigation-link tooltip" data-page="article">
                    <span class="text">{{locale_base.nav_community}}</span>
                </div>
            </a>
        </div>

        <div class="navigation-item">
            <a href="/community/staff">
                <div class="nav-team {% if 'staff' in page %}selected {% endif %} navigation-link tooltip" data-page="community_staff">
                    <span class="text">{{locale_base.nav_staff}}</span>
                </div>
            </a>
        </div>

        <div class="navigation-item">
            <a href="/shop">
                <div class="nav-shop {% if page == 'shop' %}selected {% endif %} navigation-link tooltip" data-page="shop">
                    <span class="text">{{locale_base.nav_shop}}</span>
                </div>
            </a>
        </div>
    </div>

    <div class="navigation-bottom">
        <a href="/settings">
            <div class="nav-settings navigation-bottom-link tooltip" data-page="settings">
                <span class="text">{{locale_base.user_settings}}</span>
            </div>
        </a>
        <a href="/help">
            <div class="nav-help navigation-bottom-link tooltip" data-page="help">
                <span class="text">{{locale_base.nav_helptool}}</span>
            </div>
        </a>
        {% if 'housekeeping' in permissions %}
        <a href="/housekeeping" target="_blank">
            <div class="nav-housekeeping navigation-bottom-link tooltip">
                <span class="text">{{locale_base.nav_housekeeping}}</span>
            </div>
        </a>
        {% endif %}
        <a href="/logout" target="_self">
            <div class="nav-logout navigation-bottom-link tooltip" data-page="logout">
                <span class="text">{{locale_base.user_logout}}</span>
            </div>
        </a>
    </div>
    {% else %}
    <div class="user-buttons">
        {% if player is empty %}
        <button class="rounded-button white login-dialog-button">{{locale_base.header_login}}</button>
        <a href="/registration" target="_self" class="rounded-button white plain">{{locale_base.header_register}}</a>
        {% endif %}
    </div>
    {% endif %}
</div>

<section class="body-container margin-body">
    {% if player %}
    <form action="settings/preferences/validate" method="post" class="lightMode">
        <label class="switch-label">
            <span class="switch-container rounded-radio purple">
                <input class="changeLightMode" type="checkbox" data-id="themeswitch" {{ player.template == 'dark' ? 'checked' }}>
                <span><img src="/assets/icons/{{ player.template == 'dark' ? 'light' : 'dark' }}.svg" alt=""></span>
            </span>
        </label>
    </form>
    {% endif %}
    <div class="more-box" style="display: none;">
        <a href="https://twitter.com/habboxfrance" target="_blank" class="more-row">
            <img src="/assets/icons/social/twitter.svg">
            Twitter
        </a>
        <a href="https://www.instagram.com/habboxfrance/" target="_blank" class="more-row">
            <img src="/assets/icons/social/instagram.svg">
            Instagram
        </a>
        <a href="https://www.facebook.com/habboxfrance" target="_blank" class="more-row">
            <img src="/assets/icons/social/facebook.svg">
            Facebook
        </a>
        <a href="https://www.tiktok.com/@habboxfrance" target="_blank" class="more-row">
            <img src="/assets/icons/social/tiktok.svg">
            Tiktok
        </a>
        <a href="https://discord.habbox.fr/" target="_blank" class="more-row">
            <img src="/assets/icons/social/discord.svg">
            Discord
        </a>
    </div>
    <div class="more-button"><img src="/assets/icons/social/social.svg" alt=""></div>
    <div class="navigation-top">
        <div class="top-menu" style="flex: 0">
            <div class="navigation-top-menu">
                <img src="/assets/icons/points.svg" alt="close" class="navigation-top-menu-wrapper">
            </div>
        </div>
        {% if player %}
        <div class="navigation-top-item navigation-top-search_relative">
            <div class="navigation-top-search_logo"></div>
            <input class="navigation-top-search" aria-label="search" placeholder="{{locale_base.search}}"/>
        </div>
        <div class="navigation-top-item">
            <a href="/profile/{{player.username}}" class="navigation-top-box">
                <div class="flex_1">
                    <img src="{{site.fpath}}/avatarimage?figure={{player.look}}&head_direction=3&headonly=1" alt="Avatar" class="navigation-top-logo navigation-top-logo-user pixelated">
                </div>
                <span class="flex_3 navigation-top-text">{{locale_base.user_profile}}</span>
            </a>
        </div>
        <div class="navigation-top-item">
            <a href="/stats" class="navigation-top-box">
                <div class="flex_1">
                    <img src="/assets/icons/stats.svg" alt="stats" class="navigation-top-logo navigation-top-logo-stats pixelated">
                </div>
                <span class="flex_3 navigation-top-text">{{locale_base.user_stats}}</span>
            </a>
        </div>
        <div class="navigation-top-item" style="flex: 0.75">
            <a href="/hotel" class="navigation-top-box navigation-top-game">
                <div class="flex_1">
                    <img src="/assets/icons/game.svg" alt="hotel" class="navigation-top-logo navigation-top-logo-stats pixelated">
                </div>
                <span class="flex_3 navigation-top-text navigation-top-text-game hotel-button">{{locale_base.user_hotel}}</span>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="page-container" data-page="{% if page is empty %}lost{% else %}{{page}}{% endif %}">
        {% block body %} {% endblock %}
    </div>
    <footer class="footer-container">
        <div class="footer-box">
            <p>© 2016 - {{'now'|date('Y')}} {{site.sitename}}</p>
            <p>
                <a href="/help/4-rglement-d-habbox">Le règlement d'Habbox</a> |
                <a href="/help/6-les-conditions-d-utilisation">Les conditions d'utilisation</a> |
                <a href="/help/7-charte-de-protection-des-donnes-personnelles">Charte de protection des données personnelles</a> |
                <a href="/help/8-politique-des-cookies">Politique des cookies</a> |
                <a href="/help/3-le-guide-des-parents">Le guide des parents</a>
            </p>
        </div>
    </footer>
</section>

{% if player %}
<div id="hotel-container">
    <div class="client-buttons">
        <button class="client-close">
            <i class="client-icon client-close-icon"></i>
            <span class="client-close-expand"><span>Web</span></span>
        </button>
        <button class="client-fullscreen">
            <i class="client-icon client-fullscreen-icon"></i>
            <i class="client-icon client-fullscreen-icon-back hidden"></i>
        </button>
        <button class="client-count">
            {% if 'housekeeping' in permissions %}<a href="/housekeeping" target="_blank"
                                                     style="color:#fff;text-decoration: none;"><i class="fa fa-user"></i> <b
                id="count">{{online_count}}</b></a>{% else %}<i class="fa fa-user"></i> <b
                id="count">{{online_count}}</b>{% endif %}
        </button>
        <button class="client-radio">
            <audio controls id="stream" style="display:none">
                <source type="audio/mpeg">
            </audio>

            <i class="fa fa-play"></i>
            <i class="fa fa-pause" style="display: none"></i>

            <i class="fa fa-volume-down"></i>
            <i class="fa fa-volume-up"></i>
        </button>
    </div>
</div>
{% endif %}

<script src="/assets/js/js.cookie.js"></script>
<script src="/assets/js/jquery.history.js"></script>
<script src="/assets/js/jquery.fullscreen.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/selectric.js?v=34212"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/web/loading.js?v={{cache_timestamp}}"></script>
<script src="/assets/js/pagination.js"></script>
<script src="/assets/js/jquery.wysibb.js"></script>
<script src="/assets/js/more.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

</body>

</html>
{% else %}
{{ block('body') }}
{% endif %}
{% endblock %}