<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="follow, index">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title>{{site.sitename}} - Maintenance</title>

    <meta name="description"
          content="Virtual world for young people where you can make and meet friends. Meet and make friends, chat with others, create your own avatar, design your own room for free and much more ...">
    <meta name="keywords"
          content="cosmic, {{site.sitename}}, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rare, rare meubi, collect, make, collect, contact, meubi, furniture, pets, furnish room, share, expression, badges, hangout, music, celebrity, VIP visits, celebs, mmo, mmorpgs, massive multiplayer, dox , dox hotel, dox hotel, space hotel, space hotel, space, sunnie, sunnie day, sunnieday, habbo, HABBO, habbo hotel, habboo, habbo city, habbocity, cool, virtual world, vip, retro, retro hotel, habbo retro, free , free habbo, holo">

    <meta property="og:title" content="{{site.sitename}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.domain}}">
    <meta property="og:image" content="/assets/images/summary-picture.png">
    <meta property="og:description" content="Virtual world where you can make and meet friends.">
    <meta property="og:site_name" content="{{site.sitename}}">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bbeditor.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/homes.css">
    <link rel="stylesheet" href="/assets/css/selectric.css">
    <link rel="stylesheet" href="/assets/css/circle.css?v=5">
    <link rel="stylesheet" href="/assets/css/web.{% if player %}{{player.template}}{% else %}{% if template %}{{template}}{% else %}light{% endif %}{% endif %}.css?v={{cache_timestamp}}">
    <link rel="stylesheet" href="/assets/css/web.responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="index-body">
<noscript>
    <style>
        .loading-container {
            display: none;
        }
    </style>
</noscript>
<div class="loading-container">
    <div id="loading-background"></div>
    <div class="loading-content">
        <div class="c100 center">
            <span></span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div class="loading-bodytext"></div>
    </div>
</div>
<div class="page-loading"></div>
<div class="notifications-container"></div>
<div id="login-dialog" class="login-popup zoom-anim-dialog mfp-hide">
    <h3 class="title">{{locale_base.login_title}}</h3>
    <div class="login-form">
        <form class="login-form" action="#">
            <label for="login-username-input-target" class="username-input">
                <input type="text" name="username" id="login-username-input-target"
                       placeholder="{{locale_base.login_name}}..." required>
            </label>
            <label for="login-password-input-target" class="password-input mt_1">
                <input type="password" name="password"
                       id="login-password-input-target" placeholder="{{locale_base.login_password}}..."
                       autocomplete="off"
                       required>
            </label>
            <input type="hidden" name="csrftoken" value="{{csrf_token}}"/>
            <div class="text-center mt_2 text-white">
                Accès réservé à l'équipe
            </div>
            <button type="submit" class="rounded-button light plain mt_1" id="login-now">{{locale_base.header_login}}
            </button>
        </form>
    </div>
</div>
<div class="cookies-accept-container">
    <div class="close-container">&times;</div>
    {{locale_base.cookies}}
    <a href="/help" target="_blank">{{locale_base.read_more}}</a>
</div>
<img src="/assets/images/index_hotel.png" class="index-hotel-view" alt="hotel view">
<div class="index-left">
    <a class="rounded-button light login-dialog-button" style="position: absolute; right: 3em;">
        {{locale_base.staff}}
    </a>
    <div class="index-logo-center">
        <a href="/" target="_self">
            <img src="/assets/images/habbox.gif" class="index-logo" alt="logo">
        </a>
    </div>
    <h1 class="mt_1 index-logo-center">{{locale_base.maintenance}}</h1>
    <h2 class="index-logo-center">
        <p>{{locale_base.text_1}}</p>
        <p>{{locale_base.text_2}}</p>
        <a href="https://discord.com/invite/J5dDk9DGDW" target="_blank" class="rounded-button light mt_2">
            {{locale_base.follow_discord}}
        </a>
    </h2>
</div>

</body>
</html>

<script src="/assets/js/js.cookie.js"></script>
<script src="/assets/js/jquery.history.js"></script>
<script src="/assets/js/jquery.fullscreen.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/selectric.js?v=34212"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/web/loading.js?v={{cache_timestamp}}"></script>
<script src="/assets/js/pagination.js"></script>
<script src="/assets/js/jquery.wysibb.js"></script>
<script src="/assets/js/more.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script>
    var Configuration = {
    {% if publickey is not empty %}recaptcha_public: "{{publickey}}",{% endif %}
    revision: "{{revision}}2213",
        cache: "{{cache_timestamp}}",
        findretros: {% if findretros %}true{% else %}false{% endif %}
    }

    function connect() {
        var verification_data = {
            username: $(".login-form [name=username]").val(),
            password: $(".login-form [name=password]").val(),
            csrftoken: $(".login-form [name=csrftoken]").val(),
        };
        Web.ajax_manager.post("/home/login/request", verification_data, function (result) {

            if (result.status == "pincode_required") {
                setTimeout(function () {
                    Web.dialog_manager.create("confirm", Locale.web_fill_pincode, Locale.web_twostep, null, "pincode", function (result) {
                        verification_data.pincode = result.toString();
                        Web.ajax_manager.post("/home/login/request", verification_data);

                        $.magnificPopup.close();
                    });
                }, 500);
            }
        });
    }

    $('#login-now').on('click', function () {
        connect();
    })

    $(".login-dialog-button").unbind().click(function () {
        $.magnificPopup.open({
            items: {
                type: "inline",
                src: "#login-dialog"
            },
            callbacks: {
                open: function () {
                    $("input").unbind().keypress(function (e) {
                        if (e.which == 13 || e.type === 'click') {
                            connect();
                        }
                    });
                }
            },
            mainClass: "my-mfp-zoom-in"
        });
    });
</script>
</html>
