{% extends "base.html" %}
{% set nav = "games" %}
{% block body %}
<div class="page-content">
    <div class="settingsTitle">
        {{locale.title}}
        <div class="settings-panel">
            <a href="/ranking/wealth" class="settingsMenu {% if nav == 'wealth' %}selected{% endif %}">
                <img src="/assets/icons/wealth.svg" alt="">
            </a>
            <a href="/ranking/games" class="settingsMenu {% if nav == 'games' %}selected{% endif %}">
                <img src="/assets/icons/games.svg" alt="">
            </a>
        </div>
    </div>
    <div class="flex-body profile mt_3">
        <div class="flex_1">
            <div class="box">
                <div class="box-title">
                    GOTW
                    <div class="team-title-round">
                        <img src="/assets/icons/gotw.svg" alt="GOTW" class="team-title-badge">
                    </div>
                </div>
            </div>
            {% for key, user in currencys %}
            <div class="box rank-box">
                <a href="/profile/{{user.player.look}}">
                    <img src="{{site.fpath}}/avatarimage?figure={{user.player.look}}&head_direction=3&headonly=1&size=l"
                         alt="{{user.player.look}}" class="pixelated rank-look">
                    {{user.player.username}}
                </a>
                <span>{{user.amount}}</span>
                <div class="rank {{ key + 1 == 1 ? 'or' : key + 1 == 2 ? 'argent' : key + 1 == 3 ? 'bronze' : '' }}">
                    <span>{{ key + 1 }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="flex_1">
            <div class="box">
                <div class="box-title">
                    {{locale.achievements}}
                    <div class="team-title-round">
                        <img src="/assets/icons/winwin.svg" alt="Achievements" class="team-title-badge">
                    </div>
                </div>
            </div>
            {% for key, achievements in achievements %}
            <div class="box rank-box">
                <a href="/profile/{{achievements.player.username}}">
                    <img src="{{site.fpath}}/avatarimage?figure={{achievements.player.look}}&head_direction=3&headonly=1&size=l"
                         alt="{{achievements.player.look}}" class="pixelated rank-look">
                    {{achievements.player.username}}
                </a>
                <span>{{achievements.achievement_score}}</span>
                <div class="rank {{ key + 1 == 1 ? 'or' : key + 1 == 2 ? 'argent' : key + 1 == 3 ? 'bronze' : '' }}">
                    <span>{{ key + 1 }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="flex_1">
            <div class="box">
                <div class="box-title">
                    {{locale.online}}
                    <div class="team-title-round">
                        <img src="/assets/icons/connexion.svg" alt="Online as hours" class="team-title-badge">
                    </div>
                </div>
            </div>
            {% for key, online in online %}
            <div class="box rank-box">
                <a href="/profile/{{online.player.username}}">
                    <img src="{{site.fpath}}/avatarimage?figure={{online.player.look}}&head_direction=3&headonly=1&size=l"
                         alt="{{online.player.look}}" class="pixelated rank-look">
                    {{online.player.username}}
                </a>
                {% set onlineHours = online.progress // 60 %}
                <span>{{onlineHours|round}}h {{ onlineHours|round > 24 ? '(' ~ (online.progress//1440|round) ~ 'j)' }}</span>
                <div class="rank {{ key + 1 == 1 ? 'or' : key + 1 == 2 ? 'argent' : key + 1 == 3 ? 'bronze' : '' }}">
                    <span>{{ key + 1 }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
