{% extends "base.html" %}

{% block body %}
<div class="page-content">
    <div class="flex-body">
        <div class="flex_1">
            <div class="box h-100">
                <div class="title">
                    {{job.job ~ ' - ' ~ locale.description}}
                </div>
                {{job.full_description|raw}}
            </div>
        </div>
    </div>
    <form action="jobs/apply/request" method="post" autocomplete="off">
        <div class="flex-body profile mt_2">
            <div class="flex_1">
                <div class="box">
                    <div class="title">
                        {{locale.title}}
                    </div>
                    <p>
                        {{locale.content_1}}<br><br>
                        {{locale.content_2}}
                    </p>
                </div>
                <div class="box mt_2">
                    <h4>{{locale.question_name}}</h4>
                    <input type="text" name="name" value="{{player.username}}" readonly>

                    <h4>{{locale.question_age}}</h4>
                    <input type="text" name="age">

                    <h4>{{locale.question_why}}</h4>
                    <textarea name="job_why" style="min-height: 4.5em;"></textarea>
                </div>
            </div>
            <div class="flex_1">
                <div class="box">
                    <h4>{{locale.question_time}}</h4>
                    <div class="form-help">{{locale.question_time_help}}</div>

                    <div class="schedules-container mt_2">
                        <div class="row">
                            <div class="column-2">
                                <div class="schedule-container">
                                    <div class="day">
                                        {{locale.monday}}
                                    </div>
                                    <div class="schedule">
                                        <input type="text" name="when_monday"
                                               placeholder="{{locale.time_to_time}}">
                                    </div>
                                </div>
                            </div>
                            <div class="column-2">
                                <div class="schedule-container">
                                    <div class="day">
                                        {{locale.tuesday}}
                                    </div>
                                    <div class="schedule">
                                        <input type="text" name="when_tuesday"
                                               placeholder="{{locale.time_to_time}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt_1">
                            <div class="column-2">
                                <div class="schedule-container">
                                    <div class="day">
                                        {{locale.wednesday}}
                                    </div>
                                    <div class="schedule">
                                        <input type="text" name="when_wednesday"
                                               placeholder="{{locale.time_to_time}}">
                                    </div>
                                </div>
                            </div>
                            <div class="column-2">
                                <div class="schedule-container">
                                    <div class="day">
                                        {{locale.thursday}}
                                    </div>
                                    <div class="schedule">
                                        <input type="text" name="when_thursday"
                                               placeholder="{{locale.time_to_time}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt_1">
                            <div class="column-2">
                                <div class="schedule-container">
                                    <div class="day">
                                        {{locale.friday}}
                                    </div>
                                    <div class="schedule">
                                        <input type="text" name="when_friday"
                                               placeholder="{{locale.time_to_time}}">
                                    </div>
                                </div>
                            </div>
                            <div class="column-2">
                                <div class="schedule-container">
                                    <div class="day">
                                        {{locale.saturday}}
                                    </div>
                                    <div class="schedule">
                                        <input type="text" name="when_saturday"
                                               placeholder="{{locale.time_to_time}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt_1">
                            <div class="column-2">
                                <div class="schedule-container">
                                    <div class="day">
                                        {{locale.sunday}}
                                    </div>
                                    <div class="schedule">
                                        <input type="text" name="when_sunday"
                                               placeholder="{{locale.time_to_time}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box text-center mt_2">
                    <input type="hidden" name="job_id" value="{{job.id}}">
                    <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                    <button type="submit" class="rounded-button plain light">{{locale.send}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
