{% extends "base.html" %}

{% block body %}
<div class="page-content">
    <div class="flex-body job">
        <div class="flex-body-left">
            <div class="title">{{locale.available_applications}}</div>
            {% for job in jobs %}
            <div class="default-section job-offer flex-container flex-vertical-center box">
                <div class="offer-description">
                    <h4>{{job.job}}</h4>
                    {{job.small_description}}
                </div>
                <div class="offer-button">
                    {% if job.apply %}
                    <div class="jobs-status open">{{locale.success}}</div>
                    {% else %}
                    <a href="/jobs/{{job.id}}/apply" class="rounded-button light">{{locale.react}}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="flex-body-right">
            <div class="title">{{locale.applications}}</div>
            {% for job in myJobs %}
            <div class="default-section job-offer flex-container flex-vertical-center box">
                <div class="offer-description">
                    <h4>{{job.job}}</h4>
                    {{job.small_description}}
                </div>
                <div class="offer-button">
                    {% if job.status == "open" %}
                    {% else %}
                    <div class="jobs-status closed">{{locale.closed}}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}